@import "../../index.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-color;
  padding: 16px;
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  gap: 16px;
  .complete {
    text-decoration: line-through;
    opacity: 0.3;
    color: #ccc;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    h1 {
      font-weight: 500;
      font-size: 22px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    button {
      border: 2px solid #a35709;
      background-color: $background-color;
      width: 32px;
      height: 32px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn {
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        border: 3px solid #a35709;
      }
    }
  }
}
