@import "../../index.scss";

.wrapper {
  padding: 23px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;

  .signGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;

    input {
      border: 2px solid $primary-color;
      padding: 14px;
      font-weight: 400;
      font-size: 14px;
      background: transparent;
      outline: none;
      border-radius: 4px;
      width: 90% !important;
      color: $primary-color;

      // Плавающий label при фокусе или валидном значении
      &:focus + .emailLabel,
      &:valid + .emailLabel {
        width: 50px;
        text-align: center;
        top: -10px;
        font-size: 12px;
        background-color: $background-color;
        color: $primary-color;
        padding: 0 4px;
      }

      &:focus + .passwordLabel,
      &:valid + .passwordLabel {
        bottom: -10px;
        font-size: 12px;
        color: $primary-color;
        padding: 0 4px;
        width: 65px;
        text-align: center;
      }
    }

    .emailLabel {
      background-color: $background-color;
      width: 200px;
      position: absolute;
      left: 30px;
      top: 17px;
      font-size: 14px;
      font-weight: 400;
      transition: all 0.2s ease;
      pointer-events: none;
    }

    .passwordLabel {
      position: absolute;
      background-color: $background-color;
      width: 200px;
      left: 30px;
      bottom: 15px;
      font-size: 14px;
      font-weight: 400;
      transition: all 0.2s ease;
      pointer-events: none;
    }

    .passwordVisible {
      position: absolute;
      bottom: 12px;
      right: 32px;
      background: $background-color;
      color: $primary-color;
      cursor: pointer;
      border: none;
    }
  }

  .btn {
    background-color: transparent;
    border: 2px solid $primary-color;
    padding: 10px 31px;
    color: $primary-color;
    border-radius: 12px;
    text-decoration: none;
    width: 159px;
    margin: 0 auto;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      font-weight: 700;
    }
  }
}
