@import "../../index.scss";
.group {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  input {
    border: 2px solid $primary-color;
    padding: 14px;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    color: $primary-color;
    width: 100%;
  }
  button {
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid $primary-color;
    padding: 10px;
    cursor: pointer;
    color: $primary-color;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
  }
  textarea {
    padding: 14px;
    border: 2px solid $primary-color;
    outline: none;
    resize: none;
    background-color: transparent;
    color: $primary-color;
    width: 100%;
  }
}
